{% extends 'base.html' %}

{% block title %}
Update article
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Update article</h1>
        <form method="post">
            <input type="text" name="title" id="title" class="container form-control" value="{{ article.title }}"><br>
            <textarea name="intro" id="intro" class="container form-control">{{ article.intro }}</textarea><br>
            <textarea name="text" id="text" class="container form-control">{{ article.text }}</textarea><br>
            <input type="submit" class="btn btn-sm btn-outline-success" value="Update">
        </form>
    </div>
{% endblock %}